.page-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 20%;
  background: linear-gradient(135deg, #89a5dd, #5086df);
  color: white;
  padding: 20px;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

.sidebar li {
  padding: 12px 0;
  cursor: pointer;
  transition: 0.25s;
  opacity: 0.6;
}

.sidebar li.active {
  color: #000000;
  opacity: 1;
  transform: translateX(5px);
}

/* Profile section */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* hình tròn */
  object-fit: cover;
  border: 3px solid #0062ff;
  margin-bottom: 12px;
}

.name {
  color: black;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

/* Menu */
.menu {
  position: relative;
  padding-left: 0;
  flex-direction: column;
  gap: 6px;
  text-align: -webkit-center;
}

.menu li {
  list-style: none;
  padding: 10px 14px;
  cursor: pointer;
  width: fit-content;
  position: relative;
  z-index: 2;
  border-radius: 6px;
}

.menu li:hover {
  opacity: 1;
}

/* Indicator chạy dọc theo item */
.indicator {
    position: absolute;
    left: 0;
    border-radius: 6px;
    transition: 0.25s ease;
    z-index: 1;
}

.menu li.active {
  /* background: #ff9900; */
  font-weight: 600;
  opacity: 1;
  transform: translateX(4px);
  position: relative;
}

/* Underline hiệu ứng trượt */
.menu li.active::after {
  content: "";
  position: absolute;
  bottom: 4px;
  /* khoảng cách dưới chữ */
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background: #000000;
  border-radius: 3px;
  animation: underlineFade 0.25s ease-out;
}

@keyframes underlineFade {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 60%;
    opacity: 1;
  }
}