.experience-section {
  max-width: 100%;
  padding: 60px 60px;
  display: flex;
  flex-direction: column;
}

.subtitle {
  letter-spacing: 4px;
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
}

.title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.experience-card {
  padding: 1.25rem;
  margin-bottom: 20px;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.08);
  background-color: white;
  border: 1px solid #d4d4d4;
  transition: transform 0.2s, box-shadow 0.2s;
}

.experience-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

/* ICON */
.experience-icon {
  padding: 0.75rem;
  background: #ffffff;
  border-radius: 9999px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

/* Role và công ty */
.experience-role {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 600;
}

.experience-company {
  color: #000000;
  font-size: 1.8rem;
  margin-top: 0.25rem;
}

/* Description */
.experience-description {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: #505a68;
}

/* Technology Tags */
.experience-techs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* gap-2 */
  margin-top: 0.75rem;
}

.experience-techs span {
  background-color: #000000;
  /* bg-black */
  color: #ffffff;
  /* text-white */
  font-size: 0.75rem;
  /* text-xs */
  padding: 0.25rem 0.75rem;
  /* px-3 py-1 */
  border-radius: 9999px;
  /* rounded-full */
}

/* Button Add Experience */
.experience-add-btn {
  padding: 0.5rem 1.25rem;
  /* px-5 py-2 */
  background-color: #000000;
  /* bg-black */
  color: #ffffff;
  border-radius: 1rem;
  /* rounded-xl */
  transition: background-color 0.2s, transform 0.2s;
}

.experience-add-btn:hover {
  background-color: #111111;
  transform: translateY(-1px);
}