.skills-wrapper {
    width: 100%;
    padding: 60px;
}

.skills-subtitle {
    letter-spacing: 4px;
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
}

.skills-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.intro {
  line-height: 1.8;
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
  /* border: 1px solid black; */
}

/* GRID CHIA CỘT DỌC */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột */
  gap: 20px 40px;
  width: 100%;
}

/* TỪNG SKILL */
.skill-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 18px;

  background: #ffffff;
  border-radius: 12px;
  font-weight: 500;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skill-item:hover {
  transform: translateX(6px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 20px;
}

.skill-icon {
  font-size: 22px;
}

.skill-name {
  font-size: 15px;
}

/* RESPONSIVE */
/* Tablet: 2 cột */
@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile: 1 cột dọc */
@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}